#button-container button {
    background: transparent;
    color: white;
    font-size: 1.05rem;
    display: inline-block;
    min-width: max-content;
    padding-block: 0.6rem;
    padding-inline: 2rem;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    border-style: dotted;
}

#button-container button:hover {
    transition: all 0.8s;
    border: none;
    background: var(--secondary);
    cursor: pointer;
}

#button-container button:active {
    cursor: grabbing;
}

#button-container button:last-child {
    margin-block-start: auto;
    border: 1px solid red;
    border-style: dotted;
}

#button-container button:last-child:hover {
    transition: all 0.8s;
    background: red;
    border-style: initial;
}

.performance-stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    background: white;
    padding: 3rem 1.5rem;
    box-shadow: 1.5px 1.5px rgba(128, 128, 128, 0.3);
    justify-content: space-evenly;
}

.performance-stats:hover {
    transition: all 0.4s;
    transform: scale(1.02);
    box-shadow: 2px 2px rgba(128, 128, 128, 0.8);
}

.performance-stats .icon {
    font-weight: bold;
    background: rgba(128, 128, 128, 0.205);
    max-width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
}

.performance-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.performance-text p:first-child {
    color: gray;
    font-size: 0.9rem;
}

.performance-text p:last-child {
    font-weight: bold;
}

#dashboard-grid-handler {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 3rem;
}

#recent-sales-container {
    border-radius: 10px;
    background: white;
    padding: 0.5rem;
}

#recent-sales-container h2 {
    padding-block: 1.5rem;
    text-align: center;
}

#recent-sales li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    width: 100%;
}

#recent-sales li span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#genres-popularity-container {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
}

#genres-popularity {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#genres-popularity-text {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    height: 0.6rem;
    background: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
}

.filler-bar {
    width: 75%;
    height: 100%;
    background: var(--secondary);
    border-radius: 10px;
}


#management-list li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    width: 100%;
}

#management-list li span {
    display: inline-block;
    width: 100%;
    text-align: start;
}